<% content_for :css do %>
  <%= stylesheet_link_tag 'home' %>
<% end %>


<section class="banner">
    <div class="image">
        <%#= image_tag 'web.png' %>
    </div>
</section>

<section class="about-class">
    <div class="container">
        <div class="left delighter about" data-delighter>
            <div class="text">
                <h2>Yume K. とは</h2>
            </div>
            <div class="letter-box">
                <p>xxxxx</p>
            </div>
        </div>
    </div>
    <div class="more-buttom">
        <div class="container">
            <div class="more-info-1">
                <a href="#">
                    <div class="buttom-animation">
                        <span>more about</span>
                </a>
            </div>
        </div>
    </div>     
</section>

<section class="skill">
    <div class="box">
        <h2>
            <span>S</span>
            <span>K</span>
            <span>I</span>
            <span>L</span>
            <span>L</span>
            <span>S</span>
        </h2>
    </div>
    <div class="container">

        <div class="skill-info">
                skill
        </div>
    </div>
    <div class="more-buttom">
        <div class="container">
            <div class="more-info-1">
                <a href="#">
                    <div class="buttom-animation">
                        <span>more skills</span>
                </a>
            </div>
        </div>
    </div>     
</section>

<section class="works">
    <div class="box">
        <h2>
            <span>W</span>
            <span>O</span>
            <span>R</span>
            <span>K</span>
            <span>S</span>
        </h2>
    </div>

        <div class="works-area">
            <div class="work-box">
                <ul>
                    <li class="normal">
                        1
                    </li>
                    <li class="normal">
                        2
                    </li>
                    <li class="normal">
                        3
                    </li>
                    <li class="forth">
                        4
                    </li>
                    <li class="normal">
                        5
                    </li>
                    <li class="normal">
                        6
                    </li>
                    <li class="normal">
                        7
                    </li>
                    <li class="forth">
                        8
                    </li>
                    <li class="normal">
                        9
                    </li>
                    <li class="normal">
                        10
                    </li>
                    <li class="normal">
                        11
                    </li>
                    <li class="forth">
                        12
                    </li>
                </ul>
            </div>
        </div>
    <div class="more-buttom">
        <div class="container">
            <div class="more-info-1">
                <a href="#">
                    <div class="buttom-animation">
                        <span>more works</span>
                </a>
            </div>
        </div>
    </div>    
</section>

