
<% content_for :css do %>
  <%= stylesheet_link_tag 'home' %>
  <%= stylesheet_link_tag 'contact' %>
<% end %>


<section class="banner">
    <div class="image">
            <div class="bgImg src1"></div>
            <div class="bgImg src2"></div>
            <div class="bgImg src3"></div>
            <div class="bgImg src4"></div>
            <div class="bgImg src5"></div>
            <div class="bgImg src6"></div>
    </div>
    <div class="heading-title">
        <h2>
            <span>Y</span>
            <span>U</span>
            <span>M</span>
            <span>E</span>
            <span>.</span>
            <span>K</span>
        </h2>
        <div class="typing-box">
            <p>Let's </p>
            <p class="typing">
                <span>Design</span>
                <span>Capture</span>
                <span>Film</span>
                <span>Be</span>
            </p>
            <p>your life.</p>
        </div>
    </div>
</section>

<section class="about-class">
    <div class="container">
        <div class="left delighter about" data-delighter>
            <div class="text">
                <h2>夜桜のようにキレイに咲いてみませんか</h2>
                <h2>Blossoming like a Cherry Blossom</h2>
            </div>
            <div class="letter-box">
                <p>「Yume K.」は東京に在住のデザイナーです。<br>
                あなたの夢を良い形にして、この世に永遠に咲きたいです。<br>
                夜桜のように、暗闇できれいに咲きましょう。<br><br>
                
                あなたの夢を写真・動画・ウェブサイトでこの世に咲いてくれたら、<br>私にとって光栄です。
                </p>
                <p>Yume K. is a designer based in Tokyo.<br>
                I want to paint your dream with the best formation and leave it eternaly. <br>
                Like a CherryBlossm in the dark, show us your dream.<br><br>
                
                It's my pleasure, <br>If I can blossm your dream.
                </p>
            </div>
        </div>
    </div>
                <div class="more-buttom">
                    <div class="container">
                        <div class="more-info-1">
                            <a href="/about">
                                <div class="buttom-animation ">
                                    <span>more about</span>
                                </div>    
                            </a>
                                
                        </div>
                    </div>
                </div>
</section>

<section class="skill">
    <div class="box">
        <h1>
            <span>S</span>
            <span>K</span>
            <span>I</span>
            <span>L</span>
            <span>L</span>
            <span>S</span>
        </h1>
    </div>
    <div class="container">

        <div class="skill-info delighter started ended" data-delighter>
                <div class="row">
                    <div class="col-md-6">
                        <div class="skill-text">
                            <p>
                            映像・写真・Webの分野をまとめて、あなたの夢を描きます。<br><br>
                            大学時代サークルの動画制作を経験し、<br>YouTube広告の制作会社にインターンシップの経験もあります。<br><br>
                            Web制作の経験がまだ浅く、模写しているものが多く、<br>成長段階を見守ってくれたら大変幸いでございます。<br><br>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="skill-text">
                            <p>
                                Blossom your dream with Videos ・ Photographes ・ Webpages.<br><br>
                                Video making for over 4years with the experience in the college. <br>
                                as well as experiencing internship in a company focsing on making YouTube commercials.<br><br>
                                Experence in WebDesign is still an amateur, <br>
                                It's my pleasure if you can watch my growth.<br><br>
                            </p>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <div class="more-buttom">
        <div class="container">
            <div class="more-info-1">
                <a href="/about#skillsArea">
                    <div class="buttom-animation">
                        <span>more skills</span>
                </a>
            </div>
        </div>
    </div>     
</section>

<section class="works">
    <div class="box">
        <h1>
            <span>W</span>
            <span>O</span>
            <span>R</span>
            <span>K</span>
            <span>S</span>
        </h1>
    </div>

        <div class="works-area">
            <div class="work-box">
                <ul>
                    <li class="normal first">
                    </li>
                    <li class="normal second">
                    </li>
                    <li class="normal first">
                    </li>
                    <li class="forth second">
                    </li>
                    <li class="normal first">
                    </li>
                    <li class="normal second">
                    </li>
                    <li class="normal first">
                    </li>
                    <li class="forth second">
                    </li>
                    <li class="normal first">
                    </li>
                    <li class="normal second">
                    </li>
                    <li class="normal first">
                    </li>
                    <li class="forth second">
                    </li>
                </ul>
            </div>
        </div>
    <div class="more-buttom">
        <div class="container">
            <div class="more-info-1">
                <a href="/works">
                    <div class="buttom-animation">
                        <span>more works</span>
                </a>
            </div>
        </div>
    </div>    
</section>

<section class="contact" >
    <%= render 'contact/index' %>
</section>
