<% content_for :css do %>
  <%= stylesheet_link_tag 'work' %>
<% end %>

<section id="sakura">
    <div class="inner">
        <div class="flake1"></div>
        <div class="flake2"></div>
        <div class="flake3"></div>
        <div class="flake4"></div>
        <div class="flake5"></div>
        <div class="flake6"></div>
        <div class="flake7"></div>
        <div class="flake8"></div>
    </div>
</section>

<section class="work-title">
    <div class="container">
        <h1>
            <span>W</span>
            <span>O</span>
            <span>R</span>
            <span>K</span>
            <span>S</span>
        </h1>
    </div>
</section>

<section class="works-square">
    <div class="container">
            <div class="work-box">
                <ul>
                    <li class="work-square">
                        1
                    </li>
                    <li class="work-square">
                        2
                    </li>
                    <li class="work-square">
                        3
                    </li>
                    <li class="work-square">
                        4
                    </li>
                    <li class="work-square">
                        5
                    </li>
                    <li class="work-square">
                        6
                    </li>
                    <li class="work-square">
                        7
                    </li>
                    <li class="work-square">
                        8
                    </li>
                    <li class="work-square">
                        9
                    </li>
                </ul>
            </div>        
    </div>
</section>

<section class="contact" >
    <%= render 'contact/index' %>
</section>
