                  <h1 class="contactH2" id="contactArea">
                      <span>C</span>
                      <span>O</span>
                      <span>N</span>
                      <span>T</span>
                      <span>A</span>
                      <span>C</span>
                      <span>T</span>
                  </h1>
          <div class="container">
            <div class="contact-form">
                <div class="page-header">

                  <p>お仕事、お見積のご依頼、その他ご相談は下記フォームからお気軽にお問い合わせ下さい。 </p>
                </div>
              <%= render 'contact/form', post: @contact %>
            </div>
          </div>
