          <div class="container">
            <div class="contact-form">
                <div class="page-header">
                  <h2 id="contactArea">
                      <span>C</span>
                      <span>o</span>
                      <span>n</span>
                      <span>t</span>
                      <span>a</span>
                      <span>c</span>
                      <span>t</span>
                  </h2>
                  <p>お仕事、お見積のご依頼、その他ご相談は下記フォームからお気軽にお問い合わせ下さい。 </p>
                </div>
              <%= render 'contact/form', post: @contact %>
            </div>
          </div>
