<% provide(:title, "contact") %>
<% content_for :css do %>
  <%= stylesheet_link_tag 'contact' %>
<% end %>

<div class="container">
    <div class="page-header">
        <h1>お問い合わせ</h1>
        <p>返信は数日...</p>
    </div>
    <%= render 'form', post: @contact %>
</div>

