// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.banner {
    height: calc(100vh - 60px);
}



ul {
    list-style: none;
}

.more-buttom {
    
    width: 480px;
    margin: 80px auto 0 auto;
    
    box-sizing: border-box;
    display: block;
    font-size: 1.2rem;
    height: 80px;
    line-height: 80px;
    padding: 0px 20px;
    text-align: center;
    transition: all ease 0.2s;
    
    a {
    text-decoration: none;
    }
    
    .more-info-1 {
        display: inline-block;
        
    }
    
    .buttom-animation:hover {
        background-color: #414A4A;
        color: #000000;
        border: solid 2px #FFA554;
        border-radius: 6px;
        padding: 0 20px;
            a {
        text-decoration: none;
        }
        a:hover {
            color: #FFF !important;
        }
    }
}

.skill {
    height: 100vh;
}

.works {
    height: 200vh;
}


.banner {
    .image {
        width: 100vw;
        height: 100vh;
    }
}

.about-class {
    padding: 240px 0;
    
    .about {
        padding: 30vh;
    }
}

.about {
    height: calc(100vh - 60px);
    
    .letter-box {
        width: 100%;
        height: 40%;
        border: solid 2px;
    }
}



.skill {
    height: calc(100vh - 60px);
    padding-bottom: 240px;

}

.box {
        border-bottom: 2px solid #D95A32;
        // background-color: #FCB5FF;
        height: 10vh;
        text-align: center;
}

// .single-work {
//     border: solid 2px;
//     margin: 5px;
//     height: 16vh;
//     width: 16vh;
// }
.works {
    .works-area {
        margin-top: 240px;
        margin-bottom: 40px;
    }
    
    .normal {
        width: 270px;
        height: 273.75px;
        margin-right: 40px;
        margin-bottom: 40px;
        border: solid 2px ;
        display: inline-block;
    }
    
    .forth {
        width: 270px;
        height: 273.75px;
        margin-right: 0;
        margin-bottom: 40px;
        border: solid 2px ;
        display: inline-block;
    }
    
    ul {
        padding: 0 80px;
    }
}


.contact {
    padding-bottom: 160px;    
    
    .contact-form {
        text-align: center;
        width: 480px;
        margin: 0 auto;
        padding: 320px 0 160px 0;
    }
}

/* --- 全体のBOX定義 ---------------------------------------- */

/* --- 背景の指定 ------------------------------------------- */
.banner .bgImg {
    position   : absolute;
    top        : 0;
    left       : 0;
    bottom     : 0;
    right      : 0;
    opacity    : 0;
    animation  : bgAnime 3s infinite;   /* 4画像 × 各6s = 24s */
}

/* --- 段差で背景画像のアニメーションを実行 ----------------- */
.banner .src1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), image-url('sakura_blank.png');   /* 背景の画像を指定 */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 173px;
}
.banner .src2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), image-url('sakura_blank_1.png');   /* 背景の画像を指定 */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 173px;
    animation-delay  : 0.5s;
}
.banner .src3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), image-url('sakura_blank_2.png');   /* 背景の画像を指定 */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 173px;
    animation-delay  : 1s;
}
.banner .src4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), image-url('sakura_blank_3.png');   /* 背景の画像を指定 */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 173px;
    animation-delay  : 1.5s;
}
.banner .src5 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), image-url('sakura_blank_4.png');   /* 背景の画像を指定 */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 173px;
    animation-delay  : 2s;
}

.banner .src6 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), image-url('sakura_blank_5.png');   /* 背景の画像を指定 */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 173px;
    animation-delay  : 2.5s;
}



@keyframes bgAnime {
    0% { opacity: 0; }
    10% { opacity: 1; }
    25% { opacity: 1; }
    35% { opacity: 0; }
    100% { opacity: 0; }
}

// .banner .heading-title {
//     padding-top: 180px;
//     text-align: center;
//     h2 {
//         font-family: "Kenstein";
//         color: #FFF;
//         font-size: 2.4rem;;
//     }
// }

.banner .heading-title {
  position   : absolute;
  display    : inline-block;
  padding    : 20px;
  color      : #fff;
  top        : 50%;                               /* 中央寄せ */
  left       : 50%;
  transform  : translate(-50%,-50%);
  z-index    : 11;
}

.banner h2 {
    margin-top: 250px;
    margin-bottom: 10px;
    font-family: "Kenstein";
    font-size: 3vw;
    letter-spacing: 0.1em;
    margin-left: 0.2em;
}

