// Place all the styles related to the work controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.work-title {
    text-align: right;
    margin: 80px 0;
}
.work-box {
    
    text-align: right;

    .work-square {
        width: 270px;
        height: 273.75px;
        margin-left: 40px;
        margin-bottom: 40px;
        border: solid 2px ;
        display: inline-block;
        background-image: image-url('not_found_sakura.png');
        background-size: cover;            
    }
    
}

// // sakura
// section .inner div {
//     opacity: 0;
//     -webkit-transform-origin: 0px 0px;
//     -ms-transform-origin: 0px 0px;
//     transform-origin: 0px 0px;
//     -webkit-animation-name: Drop;
//     animation-name: Drop;
//     -webkit-animation-iteration-count: infinite;
//     animation-iteration-count: infinite;
//     -webkit-animation-timing-function: linear;
//     animation-timing-function: linear;
//     -webkit-animation-fill-mode: forwards;
//     animation-fill-mode: forwards;
// }

// #sakura .inner div {
//     position: absolute;
//     display: block;
//     width: 10px;
//     height: 15px;
//     background: image-url("sakura_flake.png") no-repeat;
// }

// #sakura .inner div.flake2,
// #sakura .inner div.flake4,
// #sakura .inner div.flake6,
// #sakura .inner div.flake8 {
//     background-size: 5px 6px !important;
// }

// .flake1 {
//     right: 20px;
//     -webkit-animation-duration: 2.5s;
//     animation-duration: 2.5s;
// }

// .flake2 {
//     right: 40px;
//     -webkit-animation-duration: 2.7s;
//     animation-duration: 2.7s;
//     -webkit-animation-delay: 0.2s;
//     animation-delay: 0.2s;
// }

// .flake3 {
//     right: 60px;
//     -webkit-animation-duration: 2.9s;
//     animation-duration: 2.9s;
//     -webkit-animation-delay: 0.4s;
//     animation-delay: 0.4s;
// }

// .flake4 {
//     right: 80px;
//     -webkit-animation-duration: 2.4s;
//     animation-duration: 2.4s;
//     -webkit-animation-delay: 0s;
//     animation-delay: 0s;
// }

// .flake5 {
//     right: 100px;
//     -webkit-animation-duration: 2.4s;
//     animation-duration: 2.4s;
//     -webkit-animation-delay: 1s;
//     animation-delay: 1s;
// }

// .flake6 {
//     right: 150px;
//     -webkit-animation-duration: 2.2s;
//     animation-duration: 2.2s;
//     -webkit-animation-delay: 1.2s;
//     animation-delay: 1.2s;
// }

// .flake7 {
//     right: 170px;
//     -webkit-animation-duration: 2.7s;
//     animation-duration: 2.7s;
//     -webkit-animation-delay: 1.2s;
//     animation-delay: 1.2s;
// }

// .flake8 {
//     right: 200px;
//     -webkit-animation-duration: 3s;
//     animation-duration: 3s;
//     -webkit-animation-delay: 1.4s;
//     animation-delay: 1.4s;
// }

// @-webkit-keyframes Drop {
//     0% {
//         -webkit-transform: translateY(0vh);
//         transform: translateY(0vh);
//         opacity: 0;
//     }

//     50% {
//         -webkit-transform: translateY(50vh);
//         transform: translateY(50vh);
//         opacity: 1;
//     }

//     100% {
//         -webkit-transform: translateY(100vh);
//         transform: translateY(100vh);
//         opacity: 0.3;
//     }
// }

// @keyframes Drop {
//     0% {
//         -webkit-transform: translateY(0vh);
//         transform: translateY(0vh);
//         opacity: 0;
//     }

//     50% {
//         -webkit-transform: translateY(50vh);
//         transform: translateY(50vh);
//         opacity: 1;
//     }

//     100% {
//         -webkit-transform: translateY(100vh);
//         transform: translateY(100vh);
//         opacity: 0.3;
//     }
// }