<aside class="sns-bar">
    <ul class="sns-links">
        <li>
            <a href="https://twitter.com/NzYumeK" src="twitter">
                <i class="fab fa-twitter" style="color: whitesmoke;"></i>
            </a>
        </li>
        <li>
            <a href="https://www.instagram.com/yumetogph/" src="instagram">
                <i class="fab fa-instagram" style="color: whitesmoke;"></i>
            </a>
        </li>
    </ul>
</aside>