<footer class="d-flex flex-column justify-content-end " style="background-color: #253637;">
    <div class="footer-box">
        <div class="text-muted small px-3 text-center">Let's Design your Life.</div>
        <div class="text-muted small px-3 text-center">© YumeK All rights reserved.</div>
    </div>
</footer>